@{
    ViewBag.Title = "Home Page";
}

    <div class="col-md-12" style="margin:0 auto">
        <div class="jumbotron">
            <h1>Sistema Integrado!!!</h1>
            <p>Sistema desenvolvido para controle de entradas e vendas</p>
            <p><a class="btn btn-primary btn-lg">Ler mais</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Controle de Entradas</h2>
                <p>
                    Aqui você consegue fazer entradas de todas as mercadorias/produtos que comprou/comprar, podendo realizar consultas futuramente e ter controle de suas entradas
                </p>
                <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ler mais &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Controle de Vendas</h2>
                <p>O controle de vendas é de muita importância, pois temos que ter o controle correto para sabermos se estamos tendo lucros, e também efetuar comparativos dentro de um período.</p>
                <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ler mais &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Relatórios</h2>
                <p>Os relatórios nos trará uma informação rápida das compras efetuadas e venda durante um período.</p>
                <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ler mais &raquo;</a></p>
            </div>
        </div>
    </div>